{% load bootstrap4 %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages jquery='full' %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">

    {# TODO: Put return in title #}
    <title>CryptoPilot</title>
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">CryptoPilot</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% url 'dashboard' as dashboard_url %}
            {% url 'price_history' as price_history_url %}
            <li class="nav-item {% if request.path == dashboard_url %}active{% endif %}">
                <a class="nav-link" href="{{ dashboard_url }}">Dashboard</a>
            </li>
            <li class="nav-item {% if request.path == price_history_url %}active{% endif %}">
                <a class="nav-link" href="{{ price_history_url }}">Price History</a>
            </li>
        </ul>
    </div>
</nav>

<body>
<div class="container">
    {% block content %}{% endblock %}
</div>

</body>

<script>
$(document).ready(function() {
    if (typeof(setup) === 'function')
        setup();
        
    if (typeof(refresh) === 'function')
        refresh();

    if (typeof(refresh_slow) === 'function')
        refresh_slow();

    setInterval(function(){
        if (typeof(refresh) === 'function')
            refresh();
    }, 1000);

    setInterval(function(){
        if (typeof(refresh_slow) === 'function')
            refresh_slow();
    }, 5000);
});
</script>
</html>
