{% extends "cryptopilot/base.html" %}

{% block content %}
    <h3>Available Auto-Traders:</h3>

    <div class="table-container mb-3">
        <table id="available_traders">
        </table>
    </div>

    <script>
        let available_traders = $("#available_traders");

        function refresh() {
            $.get('{% url "get_available_traders" %}',
                function (data) {
                    fill_table(available_traders, data);

                    let available_traders_tr = $("#available_traders tr");
                    available_traders_tr.css("cursor", "pointer");
                    available_traders_tr.off("click");
                    available_traders_tr.click(function () {
                        let trader_id = $($(this).find("td")[0]).html();
                        window.location = "{% url 'simulate' 'trader_id'  %}".replace("trader_id", trader_id);
                    });
                });
        }
    </script>
{% endblock %}
